:root {
    --bg: #000000;
    --list: #EEE5E9;
    --input-border: #ff5a5f;
    --output-border: #b3ff25;
    --hover: #7C7C7C;
    /* length */
    --listmargin: 8px;
}

body {
    background-color: var(--bg);
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

#app {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

#spinButton {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2rem;
    padding: 1rem;
    text-decoration: none;
    font-size: x-large;
    background: var(--bg);
    color: var(--list);
    text-align: center;
    outline: none;
    border-radius: 10px;
}

#spinButton:hover,
#refreshButton:hover,
#popButton:hover,
#addButton:hover {
    color: var(--bg);
    /* border: 0.1em solid #edf2f4; */
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    background-color: var(--list);
}

input {
    background-color: var(--list);
    margin: 0.5rem;
    padding: 1rem;
    outline: none;
    color: var(--bg);
    border-radius: 5px;
}

#refreshButton,
#popButton,
#addButton {
    background-color: var(--bg);
    color: var(--list);
    margin: 0.5rem;
    padding: 1rem;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#inputList {
    background-color: var(--list);
    margin: 1rem;
    padding: 1rem;
    border-left: var(--listmargin) solid var(--input-border);
    border-radius: 3px;
    color: var(--bg);
}

#outputList {
    background-color: var(--list);
    margin: 1rem;
    padding: 1rem;
    border-left: var(--listmargin) solid var(--output-border);
    border-radius: 3px;
    color: var(--bg);
}

#loader {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
}

.breeding-rhombus-spinner {
    height: 65px;
    width: 65px;
    position: relative;
    transform: rotate(45deg);
}

.breeding-rhombus-spinner,
.breeding-rhombus-spinner * {
    box-sizing: border-box;
}

.breeding-rhombus-spinner .rhombus {
    height: calc(65px / 7.5);
    width: calc(65px / 7.5);
    animation-duration: 1000ms;
    top: calc(65px / 2.3077);
    left: calc(65px / 2.3077);
    background-color: #ff5a5f;
    position: absolute;
    animation-iteration-count: infinite;
}

.breeding-rhombus-spinner .rhombus:nth-child(2n+0) {
    margin-right: 0;
}

.breeding-rhombus-spinner .rhombus.child-1 {
    animation-name: breeding-rhombus-spinner-animation-child-1;
    animation-delay: calc(100ms * 1);
}

.breeding-rhombus-spinner .rhombus.child-2 {
    animation-name: breeding-rhombus-spinner-animation-child-2;
    animation-delay: calc(100ms * 2);
}

.breeding-rhombus-spinner .rhombus.child-3 {
    animation-name: breeding-rhombus-spinner-animation-child-3;
    animation-delay: calc(100ms * 3);
}

.breeding-rhombus-spinner .rhombus.child-4 {
    animation-name: breeding-rhombus-spinner-animation-child-4;
    animation-delay: calc(100ms * 4);
}

.breeding-rhombus-spinner .rhombus.child-5 {
    animation-name: breeding-rhombus-spinner-animation-child-5;
    animation-delay: calc(100ms * 5);
}

.breeding-rhombus-spinner .rhombus.child-6 {
    animation-name: breeding-rhombus-spinner-animation-child-6;
    animation-delay: calc(100ms * 6);
}

.breeding-rhombus-spinner .rhombus.child-7 {
    animation-name: breeding-rhombus-spinner-animation-child-7;
    animation-delay: calc(100ms * 7);
}

.breeding-rhombus-spinner .rhombus.child-8 {
    animation-name: breeding-rhombus-spinner-animation-child-8;
    animation-delay: calc(100ms * 8);
}

.breeding-rhombus-spinner .rhombus.big {
    height: calc(65px / 3);
    width: calc(65px / 3);
    animation-duration: 1000ms;
    top: calc(65px / 3);
    left: calc(65px / 3);
    background-color: #ff1d5e;
    animation: breeding-rhombus-spinner-animation-child-big 1s infinite;
    animation-delay: 0.5s;
}

@keyframes breeding-rhombus-spinner-animation-child-1 {
    50% {
        transform: translate(-325%, -325%);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-2 {
    50% {
        transform: translate(0, -325%);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-3 {
    50% {
        transform: translate(325%, -325%);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-4 {
    50% {
        transform: translate(325%, 0);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-5 {
    50% {
        transform: translate(325%, 325%);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-6 {
    50% {
        transform: translate(0, 325%);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-7 {
    50% {
        transform: translate(-325%, 325%);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-8 {
    50% {
        transform: translate(-325%, 0);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-big {
    50% {
        transform: scale(0.5);
    }
}