:root {
    --bg: #3c3c3c;
    --list: #f5f5f5;
    --input-border: #ff5a5f;
    --output-border: #087e8b;
    /* length */
    --listmargin: 8px;
}

body {
    background-color: var(--bg);
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

#app {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

#spinButton {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2rem;
    padding: 1rem;
    text-decoration: none;
    font-size: x-large;
    background: var(--list);
    color: var(--bg);
    text-align: center;
    outline: none;
    border-radius: 10px;
}

#spinButton:hover {
    color: var(--list);
    /* border: 0.1em solid #edf2f4; */
    box-shadow: 0 0.5em 0.5em -0.4em var(--list);
    transform: translateY(-0.25em);
    background-color: var(--bg);
}

input {
    background-color: var(--list);
    margin: 0.5rem;
    padding: 1rem;
    outline: none;
    color: var(--bg);
    border-radius: 5px;
}

#refreshButton,
#popButton,
#addButton {
    background-color: var(--list);
    margin: 0.5rem;
    padding: 1rem;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

#inputList {
    background-color: var(--list);
    margin: 1rem;
    padding: 1rem;
    border-left: var(--listmargin) solid var(--input-border);
    /* color: #2b2d42; */
    border-radius: 5px;
}

#outputList {
    background-color: var(--list);
    margin: 1rem;
    padding: 1rem;
    border-left: var(--listmargin) solid var(--output-border);
    /* color: #2b2d42; */
    border-radius: 5px;
}